.about-text {
	font-size: 1.2rem;
	text-align: left;
}

.social-icon {
    color: #000;
	background-color: var(--main-bg-color);
}

ul.social-icons {
    margin-top: 10px;
	text-align: center;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #000;
    text-decoration: none;
	font-size: 1.5em;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .3s;
    background-color: var(--main-bg-color);
}

.fa-github:hover {
    background-color: #333;
	color: var(--main-bg-color);
}

.second-header {
	margin-top: 2rem;
	margin-bottom: 0;
}
