@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");

:root {
  --main-bg-color: #f8f8f8;
  --font: "Charter", serif;
  --sans-font: "Helvetica", sans-serif;
}

body {
	background-color: var(--main-bg-color);
	font-family: var(--font);
	display:flex; 
  	flex-direction: column; 
	height: 100vh;
	margin: 0;
	background-color: var(--main-bg-color);
}

#frame {
	width: 40%;
	margin: 0 auto;
	text-align: left;
}

#nav-bar {
	margin-top: 0;
	margin-bottom: 3rem;
}

.nav-item {
	display: inline;
	padding-right: 3.0rem;
}

.nav-item-link {
	text-decoration: none;
	font-size: 1.3em;
	color: #111;
	font-weight: 500;
}

.nav-item-link:hover {
	color: #333;
}

.nav-list {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

ul {
    padding:0;
    list-style: none;
}

.main-header {
	font-size: 3.0rem;
	font-weight: 400;
}

/* Controversial */
h1 {
	font-size: 3.0rem;
	font-weight: 400;
}
