{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='style/about.css') }}" type="text/css" media="screen" charset="utf-8">
{% endblock head %}
{% block body %}
	<h1 class="main-header">About Me</h1>
	<p class="about-text">Hi, I'm Nir. Maybe I'll do some cool things some day and I'll post them here, stay tuned.</p>

	<h2 class="second-header">Contact Information</h2>
	<p class="about-text">Email: nirkog@gmail.com</p>

	<div class="social-links footer-social-icons">
		<ul class="social-icons">
			<li><a class="social-icon" href="https://www.github.com/nirkog"><i class="fa fa-github"></i></a></li>
		</ul>
	</div>
{% endblock body %}
