<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style/common.css') }}" type="text/css" media="screen" charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>
	<div id="frame">
		<div id="nav-bar">
			<ul class="nav-list">
				<li class="nav-item"><a href="/" class="nav-item-link">Home</a></li>
				<li class="nav-item"><a href="/about" class="nav-item-link">About</a></li>
			</ul>
			<hr>
		</div>
		
		{% block body %}
		{% endblock body %}
	</div>
</body>
</html>
