<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ url_for('static', filename='style/common.css') }}" type="text/css" media="screen" charset="utf-8">
    <title>{% block title %}{% endblock title %} - My Webpage</title>
    {% endblock head %}
</head>
<body>
	{% block body %}
	{% endblock body %}

	<footer>
		<ul class="footer-list">
			<li class="footer-item"><a href="/" class="footer-item-link">Home</a></li>
			<!--<li class="footer-item" style="font-weight: bold;">-</li>-->
			<li class="footer-item"><a href="/about" class="footer-item-link">About</a></li>
			<li class="footer-item"><a href="/posts" class="footer-item-link">Posts</a></li>
		</ul>
	</footer>
</body>
</html>
