<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style/common.css') }}" type="text/css" media="screen" charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>
	<div id="wrapper">
		<div id="nav-bar">
			<ul class="nav-list">
				<li class="nav-item"><a href="/" class="nav-item-link">Home</a></li>
				<li class="nav-item"><a href="/about" class="nav-item-link">About</a></li>
			</ul>
			<hr id="nav-rule">
		</div>
		
		<div id="frame">
			<div id="inner-body">
				{% block body %}
				{% endblock body %}
			</div>
		</div>
	</div>

	<script>
		const nav_rule = document.querySelector("#nav-rule");
		document.addEventListener("scroll", (e) => {
			let base_width = getComputedStyle(document.documentElement).getPropertyValue("--frame-width");
			base_width = parseInt(base_width.substring(0, base_width.length - 1));
			const width = Math.min(99.5, window.scrollY / 10 + base_width);
			nav_rule.style.width = width + "%";
		});
	</script>
</body>
</html>
