{% extends "base.html" %}
{% block title %}Nirkog{% endblock title %}
{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}" type="text/css" media="screen" charset="utf-8">
{% endblock head %}
{% block body %}
   	<h1 class="main-header">Posts</h1>
	<ul class="post-list">
		<li class="post-item">
			<div class="post">
				<h2 class="post-header"><a href="/post/ascii">pwnable.kr - Ascii writeup</a></h2>
				<span class="post-date"><i>Feb 5, 2022</i></span><br>
				<span class="post-description">A writeup for the ascii challenge from pwnable.kr</span>
			</div>
			<hr>
			<div class="post">
				<h2 class="post-header"><a href="/post/ascii">pwnable.kr - Ascii writeup</a></h2>
				<span class="post-date"><i>Feb 5, 2022</i></span><br>
				<span class="post-description">A writeup for the ascii challenge from pwnable.kr</span>
			</div>
		</li>	
	</ul>
{% endblock body %}
